h3 {
    font-size: 18px;
}

.map {
    min-height: 70vh;
    width: 100%;
    margin-bottom: 15px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10vh;
}

footer {
    position: absolute;
    bottom: 0;
    height: 10vh; /*высота футера будет зависеть от высоты экрана*/
}
    /* чтобы весь футер заливался */
    footer .row {
        background-color: #ffffff;
    }

address {
    margin-bottom: 0px;
}

.fullmin {
    min-height: 60vh;
}

#lawlist {
    max-height: 70vh;
    overflow-y: auto;
}

#advbl {
    padding-top: 45px;
    min-height: 80vh;
}

.asstrong {
    font-size: 1em;
    font-weight: 700;
}

#lpage {
    margin-bottom: 5px;
}

.listpageli {
    line-height: 1.5em;
    float: left;
    display: inline;
}

#triple li {
    width: 33.333%;
}



@media only screen and (max-width: 450px) {

    #lawlist {
        max-height: none;
        overflow-y: overlay;
    }

    h1 {
        font-size: 22px;
    }

    .navbar-brand {
        float: left;
        padding: 10px 10px;
        font-size: 18px;
        line-height: 25px;
        max-height: 50px;
    }

    #advbl {
        padding-top: 5px;
        min-height: 5vh;
    }

    .listpageli {
        line-height: 2.5em;
        float: left;
        display: inline;
    }

    #triple li {
        width: 100%;
    }
}
